# Compilación
target/
out/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# JVM crash logs
hs_err_pid*
replay_pid*

# Gradle
.gradle/

# Maven
.mvn/timing.properties